button{
    width: max-content;
    transition: all 1s ease;
    border-radius: 10px;
    font-size: 50px;
}
button:hover{
    scale: 120%;
}

.Friend{position: absolute;
    top: 50%;
    left: 10%;
    background-color: burlywood;



}

.Member{
    position: absolute;
    top: 70%;
    left: 45%;
    background-color: chocolate;

}

.Patner{
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: steelblue;

}

@media screen and (max-width:650px){
    button{
        /* scale: 50%; */
        font-size:40px;
        
       
    }

    .Patner{
        top: 30%;
        left: 50%;
    }
}