@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --that_green: #004343;
  --brown: rgb(36, 16, 8);
  --lemon: #adf802;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

body {
  /* height: 100vh; */
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
  /* border: 1px solid black; */
  /* height: 230vh; */
}

/* Navbar.css stylesheet */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --primary: #25092c;
  --secondary: #9be8a1;
  --yellow: #e9ec6b;
  --yellows: #f6e33cd6;
}

.navbar {
  background-color: rgba(0, 0, 0, 1);
  /* background-color: #ddfa0492; */
  width: 100%;
  height: 12vh;
  display: flex;
  z-index: 50;
  /* opacity: ; */
  /* border: 2px solid; */
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;

  justify-content: space-between;
  align-items: center;
  /* padding: 0 0px; */
}
.logo-menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  /* border: 2px solid; */
}
.menu-icons {
  display: none;
}
.nav-menu {
  padding: 3px;
  width: 45vw;
  /* margin: 0px 25px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 2px solid var(--secondary); */
  /* column-gap: 25%; */

  /* padding: 0px 100px; */
  position: relative;
  left: 100px;
}
ul li {
  /* font-family: "DynaPuff", cursive; */
  font-family: "Inter", sans-serif;

  /* font-weight: 10; */
  margin-left: 1rem;
  list-style: none;
  /* padding-right: 25px; */
}

ul a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  /* border-right:2px solid var(--secondary); */
  /* padding-right: 40px;  */
  transition: 0.5s ease-out;
}

ul a:hover {
  /* transform:rotate(45deg); */
  color: rgb(100 116 139);
  /* font-size: 18px; */
}

.musicplayer {
  border: 2px solid black;
  margin: 0%;
}
.icon {
  display: flex;
  gap: 15px;
  margin-right: 5px;
  transition: 0.3s ease-out;
  /* border: 2px solid black;  */
}
.icon li {
  /* border: 2px solid var(--primary); */

  /* background-color: aqua; */
  display: flex;
  justify-content: left;

  /* padding-right: 40px; */
  color: var(--primary);

  cursor: pointer;
  font-size: 20px;
  transition: 0.15s ease-in;
}
.icon li:hover {
  color: #8b1da4d8;
  font-size: 22px;
  /* color: #3d3a3e; */
  animation: vibrate 2s ease-in 0s;
}

@keyframes vibrate {
  0% {
    border-radius: 50%;
    rotate: 5deg;
    font-size: 30px;
  }
  100% {
    border-radius: 50%;
    rotate: -5deg;
    font-size: 10pxph;
  }
}
.logos {
  /* border: 1px solid var(--secondary); */
  display: flex;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .navbar {
    height: 9vh;
  }
  #hero .header {
    font-size: 5px;
    scale: 0.5;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 42.44px;
    border: 2px solid blu;
  }
  .icon {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 0 1rem;
    margin: 0 0;
  }
  .icon li {
    font-size: 25px;
  }
  .menu-icons {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .nav-menu {
    /* height: 350px; */
    margin: 0 0px;
    padding-left: 5px;
    position: fixed;
    left: -100%;
    top: 56px;
    gap: 0px;
    flex-direction: column;
    /* background: linear-gradient(360deg,rgb(218, 218, 55),#40114e); */
    width: 65%;
    text-align: start;
    transition: 0.4s;
    background-color: #25092c;
    z-index: 2000;
  }

  .navbar #mobile,
  .navbar #hide {
    display: block;
    position: absolute;
    left: 0;
    top: 3.4rem;
    width: 100%;
    background-image: var(--primary);
    padding-bottom: 0px;
    transition: all 0.3s;
    z-index: 111;
    border: 1px solid black;
  }
  .navbar #mobile li,
  .navbar #hide li {
    text-align: left;
    padding: 1rem 0;
    /* border-bottom: 1px solid var(--secondary); */
    margin: 0 1rem;
  }
  ul a {
    border: none;
    color: #9be8a1;
  }
  .navbar #mobile li:last-child,
  .navbar #hide li:last-child {
    border-bottom: none;
  }
  .navbar #mobile {
    left: 0%;
  }
  .navbar #hide {
    left: -150%;
  }

  #intro .cButtons button p {
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid;
  }
}

/* Main */

#hero .header {
  font-size: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 42.44px;
}
#intro .cButtons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: auto;
  /* border: 2px solid saddlebrown; */
  /* box-shadow: -3px 3px 5px rgba(0, 80, 50, 0.5); */
  /* background-color: rgba(139, 69, 19, 0.539);   */
  padding-inline: 20px;
}
#intro .cButtons button p {
  font-weight: 50;
  font-size: 25px;
  margin-left: 10px;
}

/* Login stylesheets */

@font-face {
  font-family: Axiforma;
  font-style: normal;
  font-weight: 400;
  src: local("Axiforma");
}
